@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --general-font-size: 2rem;
  --primary-title-font-size: 5rem;
  --secondary-title-font-size: 3rem;
  --main-font-family-light: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  --main-font-family-medium: 'Whitney Medium', sans-serif;
  --main-font-family-bold: 'Whitney Bold', sans-serif;
  --num-of-grid-columns: 4;
  --section-spacing: 5.6rem 2.4rem;
  /* --container-width: 126rem; */
  --container-width: 120rem;
  --general-font-color: white;
  --hover-font-color: #e0115f;
  --off-white-clr: #f6f6f6;
  --image-height: 35vh;
  --projects-parent-grid-gap: 1rem;
  --projects-sub-grid-gap: 1rem;
  --font-semi: 500;
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
  --logo-font: 'Raleway', sans-serif;
  --modal-duration: 1s;
  --modal-color: #428bca;
}

body {
  /* position: relative; */
  height: 100vh;
  overflow: hidden;
  background-color: var(--off-white-clr);
  font-family: var(--logo-font);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
  display: block;
}

/* Utility */

.sm-margin-top {
  margin-top: 2rem;
}

.section-title {
  font-size: var(--primary-title-font-size);
}

.secondary-title {
  font-size: var(--secondary-title-font-size);
}

/* .nav-container a[href='#home'] {
  border: 4px solid red;
} */

.blue {
  border: 5px solid blue;
}

.wrapper {
  height: 100%;
  width: 100%;
  z-index: 50;
  /* CSS SMOOTH SCROLL */
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  /* border: 5px solid orange; */
  /* background-color: red; */
}

.container {
  margin: 0 auto;
  /* width: var(--container-width); */
  max-width: var(--container-width);
}

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.nav {
  font-weight: var(--font-semi);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  color: var(--general-font-color);
  /* font-size: var(--general-font-size); */
  font-size: 3rem;
  font-weight: 800;
}

.logo-img {
  opacity: 0;
  font-family: var(--logo-font);
  font-size: 4rem;
  position: absolute;
  left: 2.5vw;
  /* outline: rgb(226, 20, 20); */
}

/* reveal logo & move burger when user scrolls */
.has-scrolled .burger {
  transform: translateX(100%);
}

.has-scrolled .logo-text {
  opacity: 0;
}

.has-scrolled .logo-img {
  /* z-index: 20; */
  opacity: 1;
  color: black;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  width: 50rem;
}

.nav-link {
  color: var(--general-font-color);
  font-size: var(--general-font-size);
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: block;

  text-transform: uppercase;
  letter-spacing: 0.1vw;
}

.has-scrolled .nav-link:not(.active) {
  color: black;
}

.nav-link:hover {
  /* color: var(--hover-font-color); */
}

/*
  NAV ANIMATION

*/

.nav-list .nav-link::after {
  display: block;
  content: '';
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateX(-101%);
}

.nav-list .nav-link:hover::after {
  transition: transform 0.3s var(--easing);
  transform: translateX(0);
}
.nav-list .nav-link.animate-out::after {
  transition: transform 0.3s var(--easing);
  transform: translateX(100%);
}

/* <-----> */

.screen {
  height: 100vh;
  padding-top: 5rem;
  padding-bottom: 0.2rem;
  /* margin-bottom: 5rem; */
  /* margin-top: 5rem; */
  scroll-snap-align: center;
  overflow: auto;
}

.active {
  color: var(--hover-font-color);
}

#home {
  position: relative;
}
.home__background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  /* z-index: 1; */
}

.home__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #03a9f4; */
  /* background: #b7dbec; */
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: overlay;
  /* z-index: 5; */
}

.content {
  position: relative;
  z-index: 10;
}
.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--general-font-color);
}
.home__title {
  font-size: var(--primary-title-font-size);
  font-weight: 700;
  text-align: center;
}

.home__content p {
  font-size: var(--general-font-size);
}

#about {
  overflow-y: scroll;
}

.heading-secondary {
  /* to be cont.. */
}
.about__title {
}

.about p {
  font-size: var(--general-font-color);
}
/* <-----------> */

.row {
  display: grid;
  grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
  /* gap: 0 2rem; */
  /* padding: var(--section-spacing); */
}

.text-group {
  grid-column: span 2;
}

.grid-image {
  grid-column: span 2;
  /* height: 25vh;
  width: 100%; */
  /* position: absolute; */

  top: 0;
  left: 0;
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: 50% 50%;
  /* opacity: 0.8; */
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}
/* <-----------> */

.gallery__row {
  position: relative;
  /*
    flex - shorthand for flex-grow, flex-shrink and flex-basis combined
    The default is 0 1 auto, but if you set it with a single number value, it’s like 1 0
  */
}

.gallery__text {
  font-size: var(--general-font-size);
}
/* <-----------> */
#projects {
  overflow-y: scroll;
}
.projects-grid {
  /* position: relative; */
  /* border: 2px solid blue; */

  /*
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 0.5rem;
  justify-items: center;
*/

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: repeat(8, 5vw); */
  /* grid-template-rows: repeat(8, minmax(5rem, 10rem)); */
  grid-template-rows: repeat(8, 5vw);
  grid-gap: var(--projects-sub-grid-gap);
}
.project {
  /* display: block; */
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* height: 25rem; */
  /* width: 30rem;
  object-fit: cover;
  object-position: 50% 50%; */
  /* grid-column: span 2; */
}

/* <-----------> */
.projects__item {
  cursor: pointer;
}
.projects__item:hover {
  /* -webkit-box-shadow: 1px 0px 8px 2px #000000;
  box-shadow: 1px 0px 8px 2px #000000; */
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  transform: translateX(0.75%);
}

.projects__item--1 {
  grid-column: 1 / span 2;
  grid-row: 1/ -1;
}

.projects__item--2 {
  grid-column: 3 / -1;
  grid-row: 1 / span 2;
}

.projects__item--3 {
  grid-column: 3 / span 3;
  grid-row: 3 / span 3;
  /* border: 11px solid rgb(153, 168, 153); */
}

.projects__item--4 {
  grid-column: 6 / -1;
  grid-row: 3 / span 3;
}

.projects__item--5 {
  grid-column: 3 / span 3;
  grid-row: 6 / span 3;
}

.projects__item--6 {
  grid-column: 6 / -1;
  grid-row: 6 / span 3;
}

.projects__project-image--vertical-image img {
  /* height: 100%; */
}

.projects__project-image--wider-horiz-image {
  grid-column: 2 / span 2;
  grid-row: 1 / 2;
  border: 2px solid blue;
}

.projects__project-image--wider-horiz-image img {
  width: 100%;
  /* height: 100%; */
  height: 10rem;
}

.projects__main {
  grid-column: 2 / -1;
  gap: var(--projects-sub-grid-gap);

  display: flex;
  flex-wrap: wrap;
}

.projects__main > img {
  /* flex: 0 calc(50% - var(--gap)); */
  flex: 1 1 16rem;
}

.projects-group {
  display: flex;
}

/* <-----------> */
/* section 4 */
.contact__cta {
  /* font-size: var(--secondary-title-font-size); */
}

.form {
  display: flex;
  flex-direction: column;
}

.form-control {
  padding-bottom: 2rem;
  /* position: relative; */
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 60rem;
  padding: 1rem;
  font-size: 1.4rem;
}

.form-control textarea {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  padding: 1rem;
  width: 30rem;
  font-size: 1.4rem;
  color: black;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.errpr input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  /* visibility hidden just makes it invisible */
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #14181a;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1.6rem;
  padding: 1rem;
  width: min-content;
  align-self: center;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.form button:hover {
  color: var(--hover-font-color);
}

/* MODAL STYLES */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 5rem auto;
  width: 80%;
  height: 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  /* border: 2px solid orange; */
  background-color: rgb(207, 205, 205);
  display: grid;
  grid-template-columns: 20rem 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-rows: repeat(8, 1fr);
}

.modal__sidebar {
  /* border: 2px solid blue; */
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__main {
  position: relative;
  /* border: 2px solid blue; */
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

.modal__main h2 {
  margin-top: 3rem;
  text-align: center;
  font-size: var(--secondary-title-font-size);
}

.modal__text-group {
  padding: 3rem;
}

.modal__text-group p {
  /* border: 2px solid green; */
  font-size: var(--general-font-size);
}

.modal__text-group h4 {
  /* border: 2px solid green; */
  margin-bottom: 1.5rem;
}

.close {
  position: absolute;
  right: -1.5rem;
  top: -4rem;
  padding: 0;
  /* left: 0; */
  color: #ccc;
  font-size: 5.5rem;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
